@model IEnumerable<Biografia.Models.Educacao>

@{ ViewData["Title"] = "Index"; }

<h1>Educação e Formação</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fotografia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escolas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    @*<td>
        @if (Educacao.Foto != null)
        {

        }
        <img src="data:image/jpeg;base64, @Convert.ToBase64String(Educacao.Foto)" class="img-fluid" />
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Escolas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tempo)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.EducacaoId" class="btn-warning">Editar</a> |
        <a asp-action="Details" asp-route-id="@item.EducacaoId" class="btn-info">Detalhes</a> |
        <a asp-action="Delete" asp-route-id="@item.EducacaoId" class="btn-danger">Eliminar</a>
    </td>
</tr>
         }
    </tbody>
</table>
