@model IEnumerable<Biografia.Models.Competencias>

@{
    ViewData["Title"] = "Index";
}

<h1>Competências Pessoais</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LinguaMaterna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinguaExtrangeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comunicacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LinguaMaterna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinguaExtrangeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comunicacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompetenciasId" class="btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CompetenciasId" class="btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CompetenciasId" class="btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
